body {
  background-color: #28a745;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #218838;
  border-bottom: 2px solid #1e7e34;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: #ffc107;
}

.card {
  background-color: #000;
  color: white;
  border: 1px solid #343a40;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
